{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Entre na sala de bate-papo</h3>

  <div>
    <label>Nome:</label>
    <input type="text" placeholder="Informe seu nome" name="name" value="{{name}}" style="width: 177px;" />
  </div>

  <div class="join" style="padding-bottom: 10px; padding-top: 5px;">
    <label>Código:</label>
    <input type="text" placeholder="Informe o código" name="code" value="{{code}}" />
    <button type="submit" name="join">Junte-se a uma sala</button>
  </div>

  <button type="submit" name="create" class="create-btn">Crie uma sala</button>
  {% if error %}

  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
  
</form>
{% endblock %}